.card {
  display: flex;
  width: 250px;
  padding: 1rem 2rem;
  cursor: default;
}

.title {
  font-weight: bolder;
  padding: 1rem 2rem;
  color: #00ff99;
}

.info {
  font-size: 20px;
  align-content: center;
}

.card {
  transition: filter 0.3s ease;
}

.hover-target {
  padding: 1rem;
  background-color: #00ff99;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}

.card.blur {
  filter: blur(3px);
  opacity: 0.6;
}
