.my-image {
  content: "";
  display: flex;
  padding: 6rem;
  justify-content: center;
  align-items: center;
  background-image: url("../../../../assets/profile_test.png");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 2px solid #00ff99;
  box-shadow:
    0 0 16px rgba(0, 255, 153, 0.7),
    0 0 32px rgba(0, 255, 153, 0.5);
  color: rgba(0, 255, 153, 0.7);
  width: 300px;
  height: 300px;
}

.my-image:hover {
  transform: scale(1.1);
}
