.card-container {
  position: relative;
  display: inline-block;
  perspective: 1000px;
  width: 400px;
  height: 400px;
}

.education-card,
.info-box {
  width: 100%;
  height: 100%;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 40px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.75s ease;
}

.education-card {
  background-color: #111;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
  color: white;
}

.info-box {
  width:300px;
  height:300px;
  padding: 1rem 2rem;
  background-color: #111;
  color: white;
  transform: rotateY(-180deg); 

}

.card-container:hover .education-card {
  transform: rotateY(180deg);
}

.card-container:hover .info-box {
  transform: rotateY(0deg);
}

.title {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.date,
.gpa,
.school {
  font-size: 30px;
  padding: 5px 10px;
}

.gpa {
  color: #00ff99;
  text-align: right;
}
