.education-card {
  width: 400px;
  height: 400px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 40px;
  transform-style: preserve-3d;
  margin: 2em;
  transition: transform .75s ease, box-shadow 0.4s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 1.0)
}

.education-card:hover {
  transform: rotateX(60deg) scale(0.97);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
}

.title {
  font-size: 50px;
  font: bold;
  text-align: center;
}

.date {
  font-size: 30px;
  padding:10px;
}

.gpa {
  font-size: 30px;
  text-align: right;
  color: #00ff99;
  padding-right: 8px;
}

.school {
  font-size: 30px;
  padding:10px;
}