:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  background-image:
    radial-gradient(circle, rgba(40,40, 40, 0.1) 0%, rgba(0, 0, 0, 0.98) 50%),
    url('./bg.jpg');
  background-position: center;
}

body {
  place-items: center;
}