.line-ruler {
    display: flex;
    flex-direction: column;
    position: relative;
    padding:10px;
    align-items: center;
}

.line-ruler::before {
    content: '';
    position: absolute;
    width: 4px;
    background: rgba(0, 255, 150, 0.6);
    top: 0;
    bottom: 0;
    left:30%
}
.container{
    transform: translateX(30%);
}
