.my-intro {
  display: inline;
  gap: 0;
}

.who-am-i {
  line-height: 100px;
}
.job-reposition {
  line-height: 40px;
}
.job {
  font-size: 20px;
}
.greeting {
  font-size: 80px;
}

.name {
  font-size: 100px;
  color: #00ff99;
}

.desc {
  display: flex;
  font-size: 40px;
  width: 700px;
}
