.glass-letter {
  font-size: 120px;
  font-weight: bold;
  backdrop-filter: blur(5px);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;

  animation: travelGlow 4s infinite;
  animation-delay: var(--delay);
}

@keyframes travelGlow {
  0% {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: none;
  }
  50% {
    color: #00ff99;
    text-shadow: 0 0 12px #00ff99, 0 0 24px #00ff99;
  }
  100% {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: none;
  }
}

@media screen {
  .glass-letter {
    font-size: 40px;
  }
}
